<header>
<h1>ValueMe</h1>

<div class="navigation">
	  	<ul>
	  		<li><a href="#"></a>Home</li>
	  		<li><a href="#"></a>My Receipts</li>
	  		<li><a href="#"></a>Net Worth</li>
	  		<li><a href="#"></a>Sell</li>
	  	</ul>
	</div>
</header>


	  <div class="content">
			<h3> My Dashboard </h3>

			<section class="avatar">
				<div class="box"><img src="/assets/avatar.jpg" alt="icon"/> Big Daddy Sree</div>
			</section>
				<p>Find me in app/views/dashboard/new.html.erb</p>

		</div>

