<i class="fa fa-usd"></i><h1>ValueMe</h1><i class="fa fa-usd"></i>

<div class="main">

	<div class="navigation">
	  	<ul>
	  		<li><a href=""></a></li>
	  		<li><a href=""></a></li>
	  		<li><a href=""></a></li>
	  		<li><a href=""></a></li>

<h3> My Dashboard </h3>
<p>Find me in app/views/dashboard/new.html.erb</p>

</div>