
<%= csrf_meta_tags %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>



			<header>
				<h1> Welcome to ValueMe </h1>

				<button class="sign-up"><a href="/login">Click here to login.</a></button>

			</header>

<div class="main">



		<div class="photos">	
			<div id="cbp-fwslider" class="cbp-fwslider">
			    <ul>
			        <li><a href="#"><img src="assets/home.jpg" alt="img01"/></a></li>
			        <li><a href="#"><img src="assets/home.jpg" alt="img02"/></a></li>
			        <li><a href="#"><img src="assets/tv.jpg" alt="img03"/></a></li>
			        <li><a href="#"><img src="assets/closet.jpg" alt="img04"/></a></li>
			    </ul>
			    
				    <nav>
							<span class="cbp-fwprev" style=""><</span>
							<span class="cbp-fwnext">></span>
					</nav>
						
					<div class="cbp-fwdots">
						<span class=""/>
						<span class="cbp-fwcurrent"/>
						<span/>
						<span/>
						<span/>
					</div>
			</div>
		</div>
		

		<div class="mission">

			<h1>  How you can use ValueMe ? </h1>

				<div class="col-1">
					<i class="fa fa-usd"></i> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum maxime corporis alias laudantium impedit suscipit tenetur corrupti in, saepe amet asperiores odit obcaecati, veniam animi eos enim officiis commodi ipsa?</p>
				</div>

				<div class="col-2">
					<i class="fa fa-calculator"></i><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum sunt possimus consectetur facilis et dolore voluptates quas, consequuntur ea vero deserunt tempora culpa, blanditiis aspernatur est nulla laborum vel similique?</p>
				</div>

				<div class="col-3">
					<i class="fa fa-pie-chart"></i><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium officiis expedita libero? Accusamus labore, voluptate aperiam mollitia totam placeat laboriosam doloremque, deserunt vel illo velit commodi pariatur. Odio deleniti, voluptates. </p>
				</div>
		</div>

		<div class="bottom">



		</div>
</div>