

<div class="login">
		<h1> ValueMe </h1>
			<h3> Log-in Form </h3>
					<form action="/login" method="post">
					<input name="username" placeholder="USERNAME" id="username"><br />
					<input name="password" type="password" placeholder="PASSWORD" id="password"><br />
						<button>Submit</button>
			</form>
</div>