// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h3{
	color: black;
	text-align: center;
	font-size: 30px;
	padding: 20px;
}
h1{
	padding: 1px;
}
.content{
	width: 75%;
	height: 500px;
	background: white;
	margin: 0 auto;
	border-radius: 10px;
	border: 1px solid black;
}
.navigation {
  	margin: 0px;
	padding: 0px;
	position: absolute;
	right: 60px;
	top: 40px;
  ul {
    margin: 0px;
  }
  li {
    display: inline;
    color: white;
    font-size: 20px;
    padding: 10px;
  }
  li:hover{
  	color: gray;
  	transition: 0.3s;
  	cursor: pointer;
  }
}
.box{
	height: 70px;
	width: 100px;
	background-color: black;
	z-index: 1;
	padding: 0px;
	margin-left: 20px;
}
.box img{
	border: 1px solid black;
}